@media (max-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .hacker-news, .news, .unsplash {
    grid-column: span 2;
  }
  .date-time {
    grid-row: 1 / 2;
  }
  .weather {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .unsplash {
    grid-row: auto;
  }
}