.news-tile {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
}

.news-image {
  grid-column: 1 / 2;
}

.news-title {
  grid-column: 2 / 3;
  font-size: 2rem;
  align-self: center;
  margin: 0;
}

.news-link {
  text-decoration: none;
  color: black;
}