.news-list{
   color: #ffffff;
   overflow-x: hidden;
   overflow-y: auto;
}

.tech-sources{
   display: flex;
   overflow-x: scroll;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   &::-webkit-scrollbar {
    display: none;
  }
}

.btn-source{
   display: block;
   width: 100%;
   min-width: 13.5rem;
   margin-right: .5rem;
   padding: 1rem 2rem;
   border-radius: 5px;
}