.weather {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid white;
}

.city-input {
  border: none;
  // background: rgba(33,33,33,0.5);
  background: none;
  text-align: center;
  color: white;
  // font-size: 1.6rem;
  text-transform: capitalize;
  &::placeholder {
    color: white;
    opacity: 1;
  }
}

.weather-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.weather-city {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

.weather-current {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  font-size: 5rem;
  margin: 0;
  align-self: center;
  text-align: center;
}

.weather-icon {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  width: 75%;
  justify-self: center;
}

.weather-high {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin: 0;
  align-self: end;
  text-align: center;
}

.weather-low {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin: 0;
  text-align: center;
  align-self: start;
}