.weather {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.weather-temps {
  display: grid;
  grid-template-columns: 2fr 1.25fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
}

.weather-current, .weather-high, .weather-low {
  margin: 0;
  justify-self: center;
}

.weather-current {
  font-size: 5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
}

.weather-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

.weather-high, .weather-low {
  grid-column: 3 / 4;
  justify-self: end;
  margin-right: 0.6rem;
}

.weather-high-temp, .weather-low-temp {
  grid-column: 4 / 5;
  margin: 0;
  text-align: right;
}

.weather-high-temp {
  align-self: end;
}

.weather-high {
  grid-row: 1 / 2;
  align-self: end;
}

.weather-low {
  grid-row: 2 / 3;
  align-self: start;
}

.weather-summary {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0;
}

.weather-icon {
  width: 100%;
  display: block;
}
