.weather {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.city-input {
  border: none;
  background: none;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  text-transform: capitalize;
  &::placeholder {
    color: white;
    opacity: 1;
  }
}

.weather-container {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 0.6fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.weather-current {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-size: 5rem;
  margin: 0;
  align-self: center;
  text-align: center;
}

.weather-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 75%;
  justify-self: center;
  align-self: center;
}

.weather-high, .weather-low {
  grid-column: 3 / 4;
  margin: 0;
  text-align: right;
}

.weather-high {
  grid-row: 1 / 2;
  align-self: end;
}

.weather-low {
  grid-row: 2 / 3;
  align-self: start;
}