.weather-temps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template: 1fr 1fr;
}

.weather-current {
  font-size: 4.5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.weather-high {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.weather-low {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}