@import 'partials/global';
@import 'partials/setup';
@import 'partials/weather';
@import 'partials/unsplash';
@import 'partials/date-time';
@import 'partials/nyt';
@import 'partials/tech-news';

.wrapper{
   max-width: 1600px;
}

.grid-container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 0.5fr 1fr 1fr 2.5fr;
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

.google-bar{
   grid-column: 3/5;
}

.tech-news {
   grid-column: 1/3;
   grid-row: 1/4;
   padding: 1rem 0 0 1rem;
   overflow-x: hidden;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   &::-webkit-scrollbar {
    display: none;
  }
}

.weather, .date-time{
   color: #ffffff;
}

.date-time{
   grid-column: 3/4;
   grid-row: 2/3;
}

.weather{
   grid-column: 4/5;
   grid-row: 2/3;
}

.news-tile {
   grid-column: 3 / 5;
   grid-row: 3/5;
}

.unsplash {
   grid-row: 4/5;
   grid-column: span 2;
   min-height: 430px;
   padding-top: 1rem;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   &::-webkit-scrollbar {
    display: none;
  }
}

.google-bar{
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.google-form{
   width: 90%;
   margin-right: 2rem;
}

.search-bar{
   padding: 1rem;
   width: 100%;
   border-radius: 5px;
   border: none;
}

.search-submit{
   display: none;
}

.hide{
  display: none;
}

.hide-mode-google{
   grid-column: 1/5;
   grid-row: 1/2;
}

.hide-mode-date-time{
   grid-column: 1/3;
   grid-row: 2/3;
}

.hide-mode-weather{
   grid-column: 3/5;
   grid-row: 2/3;
}

@media (max-width: 950px) {
   .google-bar, .tech-news, .unsplash, .news-tile{
     grid-column: 1/5;
   }
   .google-bar{
     grid-row: 1/2;   
   }
   .date-time{
      grid-column: 1/3;
      grid-row: 2/3;
   }
   .weather{
      grid-column: 3/5;
      grid-row: 2/3;
   }
   .tech-news{
      grid-row: 3/7;
   }
   .unsplash{
      grid-row: 7/8;
   }
   .news-tile{
      grid-row: 8/10;
   }

  
}
