@import 'partials/global';
@import 'partials/setup';
@import 'partials/media-queries';
@import 'partials/weather';
@import 'partials/unsplash';
@import 'partials/date-time';
@import 'partials/nyt';

.wrapper{
   max-width: 1600px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  height: 100vh;
//   animation: scroll-grid 180s linear infinite;
}

.grid-item{
   border: 1px solid black;
}

.hacker-news {
  grid-column: 1/3;
  grid-row: 1/3;
}

.date-time{
   grid-column: 3/4;
}

.weather{
   grid-column: 4/5;
}

.news {
   grid-column: 3 / 5;
   grid-row: 2/4;
}

.unsplash {
   grid-row: 3 / 4;
   grid-column: span 2;
   min-height: 430px;
   overflow-x: auto;
   overflow-y: hidden;
   -webkit-overflow-scrolling: touch;
   &::-webkit-scrollbar {
    display: none;
  }
}
